.contsignup{
 background-image: url("../../assets/images/sitting.jpg");
    background-size: cover;
    /* background-position: center; */
}
.MuiContainer-root.sellbookform{
    padding-top: 4%;
    margin-left: 25%;
}

.MuiGrid-root.MuiGrid-item{
    background-color: rgba(245, 245, 245, 0.384);
}

.MuiContainer-root.reminder{
    padding-top: 6%;
    /* margin-left: 25%; */
}


