.container-fluid2{
    background-image: url("../../assets/images/books.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    /* height: 100vh; */
    padding: 100px 200px;
}

/* .MuiGrid-root{
    background-color: whitesmoke;
} */

.MuiGrid-root .MuiCard-root{
    background-color: rgba(216, 216, 216, 0.74);
}


